cocoapi/val2014/*
cocoapi/annotations/*
cocoapi/val2017/*
__pycache__
.vscode
.ipynb_checkpoints
.DS_Store
ssd_mobilenet_v1_fpn
ssd_mobilenet_v1
ssd_inception_v2
final_results
FN_with_nms
model_comparisons
